
:root{
  --not-item-background: #eef7ff;
  --new-not-color: #ee5253;
}
.offcanvas-header{
  background-color: var(--primary);
  color: white;
  font-weight: bold;
}
#notification-canvas .offcanvas-body{
  padding: 0 !important;
}
.notification{
  padding: .5rem .25rem;
  display: flex;
  border-bottom: 1px solid gainsboro;
}
.notification:hover{
  background-color: var(--not-item-background);
}
.notification .content-con>*{
  margin: 0;
  padding: 0;
}
.notification .content-con .title{
  font-size: 1.2rem;
  font-weight: 600;
}
.notification .img-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
}
.notification .img-wrapper .img-con{
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  overflow: hidden;
}
.notification .img-con img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.empty-notification-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  color: gray;
  text-align: center;
}
.empty-notification-panel img{
  width: 50%;
}

.empty-notification-panel p{
  font-size: .9rem;
  padding: 0 2rem;
}