<%- contentFor('head') %> 
<title>Chi tiết sách</title>
<%- contentFor('body') %> 
<%- include('../partials/header/reader-header.ejs') %> 
<%- include('../partials/book/book-detail.ejs', {user: 'reader'}) %>