<%- contentFor('head') %> 
<title>Chi tiết sách</title>
<%- contentFor('body') %> 
<%- include('../partials/header/reader-header.ejs') %> 
<%- include('../partials/book/book-detail.ejs', {user: 'reader'}) %>
<script src="/public/js/validator.js"></script>
<script src="/public/js/book-detail.js"></script>