<%- contentFor('head') %> 
<title>Độc giả</title>
<link rel="stylesheet" href="/public/css/pages/user/search-book.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <script defer src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script defer src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" ></script>
  <script src="../../../public/js/autocomplete-search.js"></script>

<%- contentFor('body') %> 
<%- include('../partials/header/reader-header.ejs') %> 
<div class="page-content-wrapper">
  <%- include('../partials/book/search-book.ejs') %> 
</div>