<%- contentFor('head') %> 
<title>Reader home page</title>

<%- contentFor('body') %> 
<%- include('../partials/header/reader-header.ejs') %> 

<h1>welcome to Reader home page</h1>
<p>nice to meet you</p>
