<%- contentFor('head') %> 
<title>Reader home page</title>

<%- contentFor('body') %> 
<%- include('../partials/header/reader-header.ejs') %> 
<div class="page-content-wrapper">
  <%- include('../partials/book/search-book.ejs') %> 
</div>