.page-content-wrapper{
    padding-top: 20px;
    padding-bottom: 32px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: var(--primary);
}

.table{
    margin-top: 20px;
}

.icon-btn{
    border: 0;
}

#btn-confirm:hover{
    color: var(--green-primary);
}

#btn-deny:hover{
    color: var(--red-primary);
}