@media only screen and (max-width: 1060px) {
    .page-content-wrapper{
        margin: 0;
        padding-top: 20px;
        padding-bottom: 28px;
    }
}

#btnExport{
    background-color: var(--green-primary);
}

.sub-title{
    margin-top: 40px;
}

.col-8{
    padding-right: 0;
}

.col-4{
    padding-left: 0;
}