<header>
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <a href="/" class="logo-link"><i class="fas fa-book-reader"></i> Library</a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Tra cứu sách</a>
          </li>
        </ul>
      </div>
      <div>
        <form action="/login" method="GET">
          <button class="login-btn">Đăng nhập</button>
        </form>
      </div>
    </div>
  </div>
</header>