
<form action="/login" method="GET">
  <input type="text" name="message" value="<%= info.message %> " hidden>
  <input type="text" name="type" value="info" hidden>
  <button class="<%= info.btnClass %> " type="submit"><%= info.btnName %></button>
</form>