<div class="grid-item">
  <a class="grid-item-content" href="/book-head/<%= bookHead.id %>">
      <img class="item-img" src="<%=  bookHead.anh_bia%>">
      <div class="item-content">
          <div class="title overflow-text"><%= bookHead.ten_dau_sach %></div>
          <div class="author overflow-text"><i class="fas fa-user-tie"></i> <%= bookHead.tac_gia %></div>
      </div>
  </a> 
</div>   