<div>
    <h1>Search Books</h1>
    <form action="/" method="get">
        <div class="row">
            <div class="col-sm-2">
                <select class="form-select" name="option" >
                    <option label="Title" value="title">
                    <option label="Category" value="category">
                    <option label="Publisher " value="publisher">
                </select>
            </div>
            <div class="col-sm-9">
                <input class="form-control" type="text"  placeholder="Search..."  name="searchBox" value="<%= searchOptions.searchBox %>">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
        <br>
    </form>
</div>
<h1>Books</h1>
<div>
    <div class="row">
        <% bookHeads.forEach(bookHead => { %>
            <div class="col">
                <a href="/book-head/<%= bookHead.id %>">
                    <img width="200" height="300" src="../../../public/assets/images/default-book-cover.png">
                </a>
                <div><%= bookHead.ten_dau_sach %></div> 
            </div>                
        <% }) %>  
    </div>
</div>