<h2 class="page-title">Tra cứu sách</h2>

<form class="search-bar" action="/" method="GET">
    <select name="option" >
        <option label="Tên sách" value="title">
        <option label="Tác giả" value="author">
        <option label="Thể loại" value="category">
        <option label="Nhà xuất bản" value="publisher">
    </select>
    <input name="searchBox" placeholder="Tìm kiếm sách ..." type="text" value="<%= searchOptions.searchBox %>">
    <button type="submit"><i class="fas fa-search"></i>Tìm kiếm</button>  
</form>
<div class="all-book-wrapper">
    <a href="/books/page/1" class="all-book-link">Tất cả sách</a>
</div>
<div class="result-header">
    <%if (searchOptions.searchBox) { %>
        <div class="hide-overflow-text"><i class="far fa-lightbulb"></i> Kết quả tìm kiếm cho từ khoá '<span><%= searchOptions.searchBox %></span>'</div>
    <% } %>
</div>
<div class="grid">
    <% bookHeads.forEach(bookHead => { %>
        <%- include('./book-item.ejs', {bookHead}) %>              
    <% }) %>
</div>