<%- contentFor('head') %> 
<title>Librarian home page</title>
<%- contentFor('body') %> 
<%- include('../components/header.ejs') %> 
<h1>welcome to Librarian home page</h1>
<p>nice to meet you</p>
<%- include('../../partials/log-out-button.ejs', {url: '/librarian/logout'}) %> 