<%- contentFor('head') %> 
<title>Policy of book</title>
<%- contentFor('body') %> 
<%- include('../../partials/header/librarian-header.ejs') %>
<h2>Thay doi quy dinh</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <%- include('./nav.ejs', {inputIndex: 1}) %> 
    </div>
    <div class="col-9">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>STT</th>
            <th>Mã thể loại</th>
            <th>Tên thể loại</th>
            <th>Sửa</th>
            <th>Xóa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>1</td>
            <td>Truyện</td>
            <td><button>Sửa</button></td>
            <td><button>Xóa</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>