
@import url('./settings/variable.css');
@import url('./components/header.css');

*{
  box-sizing: border-box;
}
body{
  background-color: var(--background);
}
/* logo-link */
.logo-link{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
.logo-link:hover{
  color: var(--primary);
}
  
/* page-content-wrapper */
.page-content-wrapper{
  margin: 0 10rem;
  background-color: white;
  padding: 0 3rem;
}