
@import url('./settings/variable.css');
@import url('./components/header.css');
@import url('./components/toast.css');
@import url('./elements/input.css');
@import url('./elements/button.css');
@import url('./elements/title.css');

*{
  box-sizing: border-box;
}
body{
  background-color: var(--background);
}
table thead{
  background-color: var(--primary);
  color: white;
}
button{
  cursor: pointer;
  border-radius: .25rem;
}

/* logo-link */
.logo-link{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
.logo-link:hover{
  color: var(--primary);
}
  
/* page-content-wrapper */
.page-content-wrapper{
  margin: 0 10rem;
  background-color: white;
  padding: 2rem 3rem;
  min-height: 100vh;
}