
@import url('./settings/variable.css');
@import url('./components/header.css');
@import url('./components/toast.css');
@import url('./elements/input.css');
@import url('./elements/button.css');
@import url('./elements/title.css');
@import url('./elements/table.css');
@import url('./components/footer.css');
@import url('./elements/icon.css');

*{
  box-sizing: border-box;
}
body{
  background-color: var(--background);
}

button{
  border: none;
  cursor: pointer;
  border-radius: .25rem;
}
a{
  text-decoration: none;
}

/* logo-link */
.logo-link{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
.logo-link:hover{
  color: var(--primary);
}
  
/* page-content-wrapper */
.page-content-wrapper{
  margin: 0 10rem;
  background-color: white;
  padding: 2rem 3rem;
  min-height: 120vh;
}

/* hide overflow text */
.hide-overflow-text{
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  /* ẩn phẩn văn bản dài phía sau thay bằng dấu '...', tùy chỉnh số dòng bằng '-webkit-line-clamp' */
}

.invalid{
  color: red;
}
.invalid input {
  border-color: red;
}

.invalid select {
  border-color: red;
}

.invalid textarea {
  border-color: red;
}