<%- contentFor('head') %> 
<title>Home</title>
<link rel="stylesheet" href="/public/css/pages/user/index.css">
<%- contentFor('body') %> 
<%- include('../partials/header/user-header.ejs') %> 
<div class="page-content-wrapper">
  <%- include('../partials/book/search-book.ejs') %> 
</div> 