<%- contentFor('head') %> 
<title>Đăng nhập</title>
<link rel="stylesheet" href="/public/css/pages/user/login.css">
<%- contentFor('body') %> 
<%- include('../partials/header/user-header.ejs') %> 
<div class="login-form-main">
  <div class="col left">
    <img src="/public/assets/images/login.svg" alt="">
    <div>
      <h4>Đăng nhập thư viện</h4>
      <p>Đăng nhập bằng tài khoản admin để quản lý thư viện, hoặc đăng nhập với tư cách độc giả để mượn, trả sách, ...</p>
    </div>
  </div>
  <div class="col form-container">
    <form class="container-fluid" action="/login" method="POST">
      <div class="row">
        <h2>Đăng nhập</h2>
      </div>
      <div class="row">
        <div class="col">
          <label for="">Tên tài khoản</label>
          <input required name="email" type="email" placeholder="username">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="">Mật khẩu</label>
          <input required name="password" type="password" placeholder="password">
        </div>
      </div>
      <div class="row">
        <a href="">Quên mật khẩu</a>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="login-btn">Đăng nhập</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <button class="login-google"><i class="fab fa-google-plus-square"></i> Google</button>
        </div>
        <div class="col">
          <button class="login-facebook"><i class="fab fa-facebook-square"></i> Facebook</button>
        </div>
      </div>
      <!-- <div class="d-flex justify-content-center">
        <a class="back-home-link" href=""><i class="fas fa-home"></i></a>
      </div> -->
    </form>
  </div>
</div>