<footer>
  <div class="container top">
    <div>
      <a href="/" class="logo-link"><i class="fas fa-book-reader"></i> Library</a>
      <div class="text-container">Website quản lý thư viện, tính năng đa dạng, tiện dụng, thân thiện với người dùng</div>
    </div>
    <div class="link-container">
      <ul>
        <li><a href="#">Trang chủ</a></li>
        <li><a href="#">Tra cứu sách</a></li>
        <li><a href="#">Về chúng tôi</a></li>
        <li><a href="#">Liên hệ</a></li>
      </ul>
      <div class="social-media-container">
        <a href="#">
          <div><i class="fab fa-facebook-f"></i></div>
        </a>
        <a href="#">
          <div><i class="fab fa-twitter"></i></div>
        </a>
        <a href="#">
          <div><i class="fab fa-linkedin-in"></i></div>
        </a>
      </div>
    </div>
  </div>
  <div class="bot">
    <div class="container">
      <p><span>Made by <strong>Uiters</strong></span> | &#169;2021 all rights reserved</p>
    </div>
  </div>
</footer>