
<form id="my_form" method="POST" action="<%= url %>?_method=DELETE">
  <!-- Your Form -->    
  <a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
</form>