<div class="position-fixed bottom-0 end-0 p-3">
  <div id="message-toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="false">
    <div class="header">
      <div class="title d-flex">
        <div class="icon">
          <i class="fas fa-check-circle success"></i>
          <i class="fas fa-times-circle error"></i>
          <i class="fas fa-exclamation-triangle warning"></i>
          <i class="fas fa-info-circle info"></i>
        </div>
        <strong class="me-auto"></strong>
      </div>
      <div>
        <small class="text-muted">Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    <div class="toast-body">
      
    </div>
  </div>
</div>