<%- contentFor('head') %> 
<title>Tất cả sách</title>
<link rel="stylesheet" href="/public/css/pages/user/search-book.css">
<link rel="stylesheet" href="/public/css/components/page-section.css">

<%- contentFor('body') %> 
<%- include('../partials/header/librarian-header.ejs') %> 
<div class="page-content-wrapper">
  <%- include('../partials/book/all-book.ejs') %> 
</div> 