<%- contentFor('head') %> 
<title>Book detail</title>
<%- contentFor('body') %> 
<%- include('../partials/header/librarian-header.ejs') %>
<%- include('../partials/book/book-detail.ejs', {user: 'librarian'}) %> 

