<%- contentFor('head') %> 
<title>Thủ thư</title>
<link rel="stylesheet" href="/public/css/pages/user/search-book.css">

<%- contentFor('body') %> 
<%- include('../partials/header/librarian-header.ejs') %> 
<div class="page-content-wrapper">  
  <%- include('../partials/book/search-book.ejs') %> 
</div>
