<%- contentFor('head') %> 
<title>Librarian home page</title>
<%- contentFor('body') %> 
<%- include('../partials/header/librarian-header.ejs') %> 
<h1>welcome to Librarian home page</h1>
<p>nice to meet you</p>

<%- include('../partials/book/search-book.ejs') %> 

