.input-row{
  margin-bottom: 1rem;
}
.input-item{
  display: flex;
  flex-direction: column;
}
.input-item label{
  font-weight: 600;
  font-size: .9rem;
  color: var(--primary);
}
.input-item input, textarea{
  padding: .5rem 1rem;
  font-size: .9rem;
  outline: none;
  border: none;
  background-color: rgb(241, 241, 241);
  border-radius: .25rem;
  border: 1px solid transparent;
}
.input-item input:focus, textarea:focus{
  border: 1px solid var(--primary);
  
}
.input-primary{
  padding: .5rem 1rem;
  font-size: .9rem;
  outline: none;
  border: none;
  background-color: rgb(241, 241, 241);
  border-radius: .25rem;
  border: 1px solid transparent;
}

.input-primary:focus{
  border: 1px solid var(--primary);
}