input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #fff;
    resize: none;
    outline: none;
    
}
input[type="text"][required]:focus {
    border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
    color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
    transition-duration: .2s;
    transform: translate(0, -1.5em) scale(0.9, 0.9);
}
  
input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
}

input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
}

input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }

input[type="email"] {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #fff;
    resize: none;
    outline: none;
    
}
  
input[type="email"][required]:focus {
    border-color: #00bafa;
}
input[type="email"][required]:focus + label[placeholder]:before {
    color: #00bafa;
}
input[type="email"][required]:focus + label[placeholder]:before,
input[type="email"][required]:valid + label[placeholder]:before {
    transition-duration: .2s;
    transform: translate(0, -1.5em) scale(0.9, 0.9);
}
  
input[type="email"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
}
  
input[type="email"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
}
  
input[type="email"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="date"] {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #fff;
    resize: none;
    outline: none;
    border-color: #00bafa;
    
}
input[type="date"][required]:focus + label[placeholder]:before,
input[type="date"][required] + label[placeholder]:before {
    color: #00bafa;
    transition-duration: .2s;
    transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="date"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
  
}
input[type="date"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}
select{
  width: 100%;
  height: 30px;
  text-align: center;
  border-color: #00bafa;
}
input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
} 

.view_edit{
    margin-left: 40px;
}

.input{
    border-radius: 10px;
}

.input_search_reader{
    border-radius: 10px;
}
input.input_search_reader{
    width: 980px;
}
.info{
    padding: 10px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-bottom: 30px;
}