.page-title{
  display: block;
  position: relative;
  font-weight: bold;
  color: var(--secondary);
  padding-left: 12px;
  margin-bottom: 2rem;
}
.page-title::after{
  content: '';
  position: absolute;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--accent);
}

.medium-title{
  margin-bottom: 1rem;
}
.modal-title{
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--primary);
}