<%- contentFor('head') %>

<%- include('../../partials/header/librarian-header') %> 
<% const today=new Date() %>
<% const month=((today.getMonth()+1)<10)?('0'+(today.getMonth()+1)):(today.getMonth()+1) %> 
<% const ngay_muon=today.getFullYear()+'-'+month+'-'+today.getDate() %> 

<h1>form nhập thông tin phiếu mượn trả</h1>

<form action="/librarian/phieumuon" method="post">
    <input type="text" name="ma_doc_gia" value=''><br>
    <input type="text" name="ma_sach" value=''><br>
    <input type="date" name="ngay_muon" value='<%= ngay_muon %>'><br>
    <button type='submit'>thêm phiếu mượn trả</button>
</form>
