@media only screen and (max-width: 1199px) {
    .page-content-wrapper{
        margin: 0;
    }

}

.page-content-wrapper{
    padding-top: 20px;
}

/* book detail */
.section-book-detail{
    margin-bottom: 48px;
}

.img-fluid{
    max-height: 620px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.col-7{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.detail a{
    text-decoration: none;
    color: black;
}

.detail a:hover{
    color: var(--primary);
}

.detail div{
    font-size: large;
}


label{
    font-weight: 300;
}

#destription{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(241, 241, 241);
    font-weight: 500;
    font-size: 1.5rem;
    padding-left: -10px;
}

#content-destription{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
}



.action-button{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.submit-btn{
    height: 48px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
}

#add{
    background-color: var(--orange-primary);
}

/* form comment */
.section-form-comment{
    padding-bottom: 20px;
}

.form-comment{
    display: flex;
    justify-content: space-between;
}

.form-comment input{
    flex: 1;
    height: 48px;
    padding: .5rem 1rem;
    font-size: .9rem;
    outline: none;
    border: none;
    background-color: rgb(241, 241, 241);
    border-radius: .25rem;
    border: 1px solid transparent;
}

.form-comment input:focus{
    border: 1px solid var(--primary);
}

.form-comment input:hover{
    border: 1px solid var(--primary);
}

.form-comment button{
    display: block;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
}

.form-comment input:focus{
    border: 0;
}


/* all comments */
.section-comment{
    padding-bottom: 10px;
}

.comment{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px rgb(241, 241, 241) solid;
}

.comment-content{
    padding-top: 10px;
    padding-left: 10px;
    display: inline-block;
}

.comment-content b{
    font-weight: 500;
    font-size: 1.25rem;
}

.avatar{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


