@import url('../../components/search-bar.css');

@media only screen and (max-width: 1060px) {
    .page-content-wrapper{
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    .page-content-wrapper{
        margin: 0;
        padding-left: 24px;
        padding-right: 24px;
    }
}
.search-bar{
    padding: 0 .5rem;
    margin-bottom: 3rem;
}
.search-bar input{
    flex: 1;
    margin-left: 2rem;
}
.input-item{
    flex: 8;
}

/* result-header */
.result-header .hide-overflow-text{
    font-size: 1.5rem;
}

/* grid book */
.grid{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    row-gap: 1.5rem;
}

.grid-item{
    padding: .5rem;
    object-fit: cover;
    border-radius: .25rem;
    border: 1px solid gainsboro;
}

.grid-item:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.grid-item-content{
    object-fit: cover;
    text-decoration: none;
}

.item-img{
    flex-shrink: 0;
    display: block;
    object-fit: contain;
    height: 260px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.item-content{
    padding: 5px 20px;
}

.title{
    -webkit-line-clamp: 2;
    font-size: 1.1rem;
    font-weight: 600;
}

.author{
    -webkit-line-clamp: 1;
    color: gray;
}